# $(bin //pkg:target) returns the path to the target binary
bin() {
    case "$1" in
    {{- range $label, $path := .BinToolMap }}
        "{{$label}}") echo "{{$path}}" ;;
    {{- end }}
    *) echo "Error: unknown bin tool '$1'. Did you add '$1' to the targets dependencies?" >&2; exit 1 ;;
    esac
}

# $(output //pkg:target 0) returns the absolute path to the requested output
output() {
    label="$1"
    index="$2"

    case "$label" in
    {{- range $label, $outputs := .OutputMap }}
        "{{$label}}")
            case "$index" in
            {{- range $idx, $path := $outputs }}
                "{{$idx}}") echo "{{$path}}" ;;
            {{- end }}
            *) echo "Error: unknown output index '$index' for '$label'. Did you pass the right index?" >&2; exit 1 ;;
            esac
            ;;
    {{- end }}
    *) echo "Error: unknown output label '$label'. Did you add '$label' to the target's dependencies?" >&2; exit 1 ;;
    esac
}

{{ .UserCommand }}
