name: Release

on:
  push:
    tags:
      - "v*.*.*" # Only run on version tags

permissions:
  contents: write

jobs:
  release-bin:
    name: Release binaries
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.26"

      - name: Install pkl
        run: |
          curl -L -o pkl-bin 'https://github.com/apple/pkl/releases/download/0.30.0/pkl-linux-amd64'
          chmod +x pkl-bin
          sudo mv pkl-bin /usr/local/bin/pkl

          pkl --version

      - name: Install dependencies
        run: |
          go mod tidy
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest


      - name: Build release binaries
        run: make release

      - name: Draft Release Notes
        uses: release-drafter/release-drafter@v6
        with:
          tag: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
            pkl/.out/**/*
          body: ${{ steps.release_drafter.outputs.body }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
